In [1]:
#importing modules
import tweepy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re


from langdetect import detect_langs
from nltk.tokenize import word_tokenize
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [2]:
# #twitter api keys
# auth = tweepy.OAuth1UserHandler(
#    )

# api = tweepy.API(auth, wait_on_rate_limit=True)

In [3]:
# search_words = "#wakandaforever OR #WakandaForever OR #blackpanther OR #WakandaForeverID OR #BlackPantherWakandaForever OR #BlackPanther OR #BlackPanther2"
# search_query = search_words + " -filter:retweets AND -filter:replies"


# limit = 100000
# tweets = tweepy.Cursor(api.search_tweets, q=search_query, tweet_mode='extended').items(limit)

# data=[]
# for tweet in tweets:
#     data.append([tweet.id,tweet.user.screen_name, tweet.created_at, tweet.full_text,tweet.user.location, tweet.retweet_count,tweet.favorite_count, tweet.user.followers_count, tweet.user.friends_count, tweet.user.verified, tweet.source])

In [4]:
# columns =['id','username','time_of_tweet', 'tweet', 'location', 'retweets', 'likes', 'followers', 'following', 'verified', 'tweet_source']
# bp_tweets=pd.DataFrame(data, columns=columns)
# bp_tweets.to_csv("BlackPanther-24-11.csv")

In [5]:
tweets = pd.read_csv('BlackPanther-24-11.csv')
tweets.sample(10)

,Unnamed: 0,id,username,time_of_tweet,tweet,location,retweets,likes,followers,following,verified,tweet_source
17784,17784,1593847122746478592,boys_shorts,2022-11-19 06:02:20+00:00,#WakandaForever https://t.co/cXIMbwNRu5,Multiverse,1,3,314,308,False,Twitter for Android
3218,3218,1595237628818907136,BritneyMarsha,2022-11-23 02:07:43+00:00,The didn‚Äôt have to do Queen Mother like that #...,NaN,0,0,200,138,False,Twitter for iPhone
16437,16437,1593990732758614016,infocineland,2022-11-19 15:33:00+00:00,"Ni en las Plataformas Digitales, ni en otros #...",Colombia,0,0,3138,1388,False,Twitter Web App
2081,2081,1595430397369802753,HitNRunmovie,2022-11-23 14:53:43+00:00,"Which Bame (Black, Asian and minority ethncity...",NaN,0,0,147,422,False,Twitter Web App
1635,1635,1595483065337495569,_YoYoshii_,2022-11-23 18:23:00+00:00,Alone Burna Boy #WakandaForever,NaN,0,0,955,718,False,Twitter for iPhone
13505,13505,1594164648797999109,alfred_hit,2022-11-20 03:04:05+00:00,Mama #JuliaLouisDreyfus junto a Queen #AngelaB...,Bucaramanga - Colombia,0,1,1320,1316,False,Twitter for iPhone
12225,12225,1594286733121945600,trade_cinema,2022-11-20 11:09:12+00:00,#Hyderabad National Multiplexes GROSS\n\n#Kant...,NaN,6,17,581,0,False,Twitter for Android
30903,30903,1592906375554031616,_logen96_,2022-11-16 15:44:09+00:00,Never cried this much for a movie after a long...,Klang,0,1,436,150,False,Twitter for Android
8120,8120,1594589551779057665,DamoneWilliams_,2022-11-21 07:12:29+00:00,#Shuri in Act III! baby‚Ä¶that‚Äôs a sweet spot i ...,The Wish-A-Nigga Woods,0,3,9095,2918,False,Twitter for iPhone
15275,15275,1594062692045803523,1RealHer,2022-11-19 20:18:56+00:00,my movie date ‚ù§Ô∏èüêõ #wakandaforever https://t.co...,"Atlanta, GA",0,0,1304,882,False,Twitter for iPhone

In [6]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35054 entries, 0 to 35053
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     35054 non-null  int64
 1   id             35054 non-null  int64
 2   username       35054 non-null  object
 3   time_of_tweet  35054 non-null  object
 4   tweet          35054 non-null  object
 5   location       24584 non-null  object
 6   retweets       35054 non-null  int64
 7   likes          35054 non-null  int64
 8   followers      35054 non-null  int64
 9   following      35054 non-null  int64
 10  verified       35054 non-null  bool
 11  tweet_source   35054 non-null  object
dtypes: bool(1), int64(6), object(5)
memory usage: 3.0+ MB

In [7]:
tweets.head()

,Unnamed: 0,id,username,time_of_tweet,tweet,location,retweets,likes,followers,following,verified,tweet_source
0,0,1595755112361824256,WTF_ua_,2022-11-24 12:24:01+00:00,–û—Ç –º–∏ —á–∞—Å—Ç–æ –∑–≥–∞–¥—É—î–º–æ —Å–ª–æ–≤–∞ ¬´–µ–ø—ñ—á–Ω–∞ —Ç–≤–æ—Ä—á—ñ—Å—Ç—å¬ª....,–£–∫—Ä–∞–∏–Ω–∞,0,0,2,4,False,Twitter for Android
1,1,1595754510676242436,jpsz6,2022-11-24 12:21:37+00:00,Que bonito es ver a la raza anunciada en uno d...,M√©xico,0,0,810,1385,False,Twitter for Android
2,2,1595754353603661824,filmloew_innen,2022-11-24 12:21:00+00:00,Habt ihr schon in unseren neusten Blockbuster-...,NaN,0,0,1622,689,False,TweetDeck
3,3,1595754344800034818,GuaridadeMarvel,2022-11-24 12:20:58+00:00,üé®P√≥ster realizado por @DopeBlackArt de #Wakand...,WAKANDA,0,2,349,64,False,Twitter for Android
4,4,1595754300210581504,esmanuelcortes,2022-11-24 12:20:47+00:00,"#WakandaForever üëåüèΩüî•üíØ\n""No porque alguien no es...",Panam√°,0,0,305,919,False,Twitter for Android

In [8]:
tweets.drop(columns='Unnamed: 0', inplace = True)

tweets['location'].fillna('None', inplace=True)

tweets['time_of_tweet'] = tweets['time_of_tweet'].astype('datetime64')

In [9]:
def get_hash(tweet):
    tweet = re.findall(r'\#\w+', tweet)
    return " ".join(tweet)

In [10]:
tweets['hashtags'] = tweets['tweet'].apply(get_hash)

In [11]:
hashtags = pd.Series(" ".join(tweets['hashtags']).split()).value_counts()
#hashtags.to_csv('hashtag_freq.csv')
hashtags[:10]

#WakandaForever                20990
#BlackPanther                   9316
#BlackPantherWakandaForever     5887
#wakandaforever                 1997
#Namor                          1746
#blackpanther                   1297
#Marvel                         1211
#BlackPanther2                   998
#WakandaForeverID                978
#MarvelStudios                   808
dtype: int64

In [12]:
def get_languages(tweet):
    try:
        tweet = detect_langs(tweet)
    except: 
        tweet = "nolang"
    tweet = str(tweet).split(':')[0][1:]
    return tweet

In [13]:
tweets['language'] = tweets['tweet'].apply(get_languages)

In [14]:
lang_code = pd.read_csv('language_codes.csv')
dict_lang_code = dict(zip(lang_code['alpha2'], lang_code['English']))
tweets['language'] = tweets['language'].replace(dict_lang_code)

In [15]:
tweets.language.value_counts()[:10]

English       24209
Spanish        3326
Danish         1476
Portuguese     1451
French          775
Indonesian      524
Japanese        470
Thai            470
Norwegian       383
Italian         325
Name: language, dtype: int64

In [16]:
def get_links(tweets):
    link = re.findall(r'((http|ftp|https):\/\/)(([\w.-]*)\.([\w]*))', tweets)
    if len(link) < 1:
        return 'No'
    else: return 'Yes'

In [17]:
tweets['contains_media'] = tweets['tweet'].apply(get_links)

In [18]:
tweets.contains_media.value_counts()

Yes    20872
No     14182
Name: contains_media, dtype: int64

In [19]:
cast = ['namor', 'shuri', 'ironheart', 'ramonda', 'namora', 
        'okoye', 'aneka', 'nakia', 'mbaku', 'attuma', 'everett', ]


def get_cast(tweets):
    tweets = tweets.lower()
    tokens = word_tokenize(tweets)
    cast_names = [name for name in tokens if name in cast]
    cast_names_title = [name.title() for name in cast_names]
    return " ".join(cast_names_title)

In [20]:
tweets['cast_name'] = tweets['tweet'].apply(get_cast)

In [21]:
names = pd.Series(" ".join(tweets['cast_name']).split()).value_counts()
# names.to_csv('names_freq.csv') ##save the generated dataframe
names[:10]

Namor        3953
Shuri        1985
Okoye         348
Namora        295
Ironheart     288
Nakia         220
Ramonda       216
Mbaku         202
Attuma        123
Aneka          53
dtype: int64

In [22]:
tweets['tweet'] = tweets['tweet'].replace('\n', ' ', regex=True)

In [23]:
sid = SentimentIntensityAnalyzer()
tweets['sentient_scores'] = tweets['tweet'].apply(sid.polarity_scores)
tweets['sentient_scores'] = tweets['sentient_scores'].apply(lambda x: x['compound'])

In [24]:
def get_sentiment(tweet):
    if tweet > 0:
        return "Positive"
    elif tweet == 0:
        return np.nan
    else: return "Negative"

In [25]:
tweets['sentiment'] = tweets['sentient_scores'].apply(get_sentiment)

In [26]:
tweets['sentiment'].value_counts()

Positive    12441
Negative     5168
Name: sentiment, dtype: int64

In [27]:
tweets['location'].value_counts()[:50]

None                         10470
Los Angeles, CA                495
United States                  384
London, England                179
M√©xico                         176
UK                             171
New York, NY                   168
Atlanta, GA                    164
India                          152
California, USA                144
Brasil                         139
Chicago, IL                    137
United Kingdom                 115
London                          99
Espa√±a                          98
Canada                          98
Paris, France                   95
 Bonaire Islands üèôüèñüèù / DF       93
New York, USA                   88
Houston, TX                     86
S√£o Paulo, Brasil               84
Brooklyn, NY                    81
Florida, USA                    80
USA                             78
France                          77
New York                        74
she/her                         72
Washington, DC                  71
Texas, USA                      70
Lagos, Nigeria                  68
Dallas, TX                      68
South Africa                    64
Philadelphia, PA                63
Las Vegas, NV                   63
Talokan                         61
Lorain, Ohio                    61
Austin, TX                      60
Colombia                        60
Wakanda                         59
Earth                           59
New Jersey, USA                 57
Rio de Janeiro, Brasil          55
Indonesia                       55
Toronto, Ontario                54
Los Angeles                     53
Miami, FL                       53
Inside the Multiverse           52
Location: Classified            51
Thailand                        49
Memphis, TN                     49
Name: location, dtype: int64

In [28]:
def get_country(inc_c, case, cor_c):
    tweets.loc[tweets['c_location'].str.contains(inc_c, case=case), 'c_location'] = cor_c

In [29]:
tweets['c_location'] = tweets['location']


dicts = {'brazil':'Brazil', 'brasil':'Brazil', 'nigeria':'Nigeria', 'm√©xico': 'Mexico', 'france':'France', 'india':'India', 'london':'United Kingdom', 'UK':'United Kingdom', 'england':'United Kingdom','Bonaire':'Bonaire Islands', 'Espa√±a':'Spain', 'thailand':'Thailand', 'Ohio':'United States', 'South Africa':'South Africa'}
for key, val in dicts.items():
    get_country(key, False, val)


list_us = ['USA', 'KS', 'FL', 'CA', 'GA', 'AZ', 'CO','IL', 'TX', 'PA', 'DC', 'TN', 'NY', 'WA', 'NYC', 'NC', 'NV', 'OH', 'LA', 'MA', 'Los Angeles' 'new york','New York', 'Los Angeles']
for states in list_us:
    get_country(states, True, 'United States')

tweets['c_location'].replace('None', np.nan, inplace=True)
tweets['c_location'].value_counts()[:10]

United States     5768
United Kingdom    1123
Brazil             666
Mexico             582
India              572
France             311
Spain              308
Nigeria            193
South Africa       190
Thailand           104
Name: c_location, dtype: int64

In [34]:
tweets['tweet_source'].value_counts()[:10]

Twitter for iPhone      15298
Twitter for Android     11002
Twitter Web App          5560
TweetDeck                 575
Twitter for iPad          331
Instagram                 289
Hootsuite Inc.            218
Buffer                    174
IFTTT                     141
Twitter Media Studio      139
Name: tweet_source, dtype: int64

In [30]:
tweets.sample(20)

,id,username,time_of_tweet,tweet,location,retweets,likes,followers,following,verified,tweet_source,hashtags,language,contains_media,cast_name,sentient_scores,sentiment,c_location
13968,1594135374779109378,DopeboyMT09,2022-11-20 01:07:45,HOW TF DID I JUST SPEND $100 AT THE MOVIE THEA...,"Louisiana, USA",0,1,1111,222,False,Twitter for iPhone,#WakandaForever,English,No,,0.0000,NaN,United States
29875,1592954016031731712,StarWarsBill,2022-11-16 18:53:27,Saw #WakandaForever again last night. Equal pa...,Lexington,0,2,1361,957,False,Twitter Web App,#WakandaForever,English,Yes,Namor,-0.2263,Negative,Lexington
28146,1593032758896779266,Lady_Belz,2022-11-17 00:06:21,She‚Äôs here!!! #shuri #funkopop #wakandaforever...,"Plattsburgh, NY",1,5,337,479,False,Twitter for iPhone,#shuri #funkopop #wakandaforever,English,Yes,Shuri,0.0000,NaN,United States
9978,1594440006336385024,RAracnido,2022-11-20 21:18:15,Amo este poster de Shuri #WakandaForever http...,"Santiago, Chile",0,0,11,20,False,Twitter for iPhone,#WakandaForever,Danish,Yes,Shuri,0.0000,NaN,"Santiago, Chile"
27441,1593072719037284354,BoxReport,2022-11-17 02:45:08,Pantera Negra: Wakanda Forever alcan√ßa U$ 381 ...,None,10,201,4659,230,False,Twitter for Android,#BlackPanther,Portuguese,Yes,,0.0000,NaN,NaN
488,1595634766031867906,geniusessay_ctr,2022-11-24 04:25:48,"Do Hey y'all am taking those online classes,es...","Oakland, CA",1,1,756,1331,False,Twitter for Android,#chucky #WakandaForeverID #NCAAF #CFB #NBA #NF...,English,No,,0.0000,NaN,United States
29675,1592963426833563648,Beccamford,2022-11-16 19:30:51,Winston Duke brought along his own photographe...,"Los Angeles, CA",0,3,22444,222,True,Twitter Web App,#WakandaForever,English,Yes,,0.1280,Positive,United States
12451,1594252983126331393,jamiefrickengib,2022-11-20 08:55:05,Trying to formulate thoughts on #WakandaForeve...,x ∑m…ôŒ∏k ∑…ôyÃì…ôm (Musqueam),0,3,1521,2605,False,Twitter for iPhone,#WakandaForever,English,No,,-0.3612,Negative,x ∑m…ôŒ∏k ∑…ôyÃì…ôm (Musqueam)
14170,1594123827096625152,_XleeeeshX_,2022-11-20 00:21:52,Yaaaaaaass üëèüèæüëèüèæüëèüèæ #WakandaForever https://t.co...,New Hampshire,0,0,634,612,False,Tweetbot for iŒüS,#WakandaForever,Afrikaans,Yes,,0.0000,NaN,New Hampshire
22980,1593391244364980225,Official_WMI,2022-11-17 23:50:51,Maaaiiiiilllll Caaaallllll s/o to @HasbroPuls...,"Kichij≈çji, Tokyo, Japan",0,2,2343,170,False,Twitter for Android,#WakandaForever,English,Yes,,0.9001,Positive,"Kichij≈çji, Tokyo, Japan"
34172,1592711851154243584,xokferg,2022-11-16 02:51:11,The coolest part of the Disney cruise was gett...,"West Virginia, USA",0,2,450,180,False,Twitter Web App,#disneydream #wakandaforever,English,No,,0.0000,NaN,United States
29505,1592971803252887552,___Charly789,2022-11-16 20:04:08,What was the song that played when namor showe...,"Berlin, Deutschland",0,0,1125,1781,False,Twitter for iPhone,#blackpanther,English,No,Namor Shuri,0.3400,Positive,"Berlin, Deutschland"
26444,1593138123399389186,iwnyl,2022-11-17 07:05:02,#BlackPanther kinda spoiler - - - - - - - - ...,Any pronoun,11,145,594,833,False,Twitter for iPhone,#BlackPanther,English,Yes,,0.0000,NaN,Any pronoun
9902,1594444162019241984,__Grav,2022-11-20 21:34:46,Marvel - there is HOPE after all‚Ä¶ #BlackPanth...,"Pretoria, South Africa",0,0,3604,1129,False,Twitter for iPhone,#BlackPantherWakandaForever,English,No,,0.7531,Positive,South Africa
29365,1592978086387388417,cjwizgeek,2022-11-16 20:29:06,#WakandaForever https://t.co/lXa159Z2RA,PG County,2,4,567,1079,False,Twitter Web App,#WakandaForever,Danish,Yes,,0.0000,NaN,PG County
18076,1593820542137962496,marianoubita,2022-11-19 04:16:43,Qu√© forma tan bellaaaa de recordar a dos de lo...,where the sky meets the sea,0,0,838,265,False,Twitter for iPhone,#BlackPanther #IronHeart,Spanish,Yes,Ironheart,0.0000,NaN,where the sky meets the sea
27596,1593063877407043584,AdamWar63808145,2022-11-17 02:10:00,Maybe I'll go see Wakanda Forever alone so I w...,Dirty Jersey,0,2,914,4538,False,Twitter for Android,#WakandaForever,English,No,,-0.3400,Negative,Dirty Jersey
2221,1595408155391021058,nuno_baio,2022-11-23 13:25:20,Tnk u @Marvel ‚ù§Ô∏è #WakandaForever,"Lisboa, Portugal",0,1,5513,1711,False,Twitter for Android,#WakandaForever,Danish,No,,0.0000,NaN,"Lisboa, Portugal"
29217,1592985358467469312,TresWinn,2022-11-16 20:58:00,Newfound woman crush. #WakandaForever https://...,"Chattanooga, TN",0,1,1837,979,False,Twitter for iPhone,#WakandaForever,English,Yes,,-0.1531,Negative,United States
28829,1593001065095761921,HollywoodRecs,2022-11-16 22:00:25,Listen to music from Black Panther: Wakanda Fo...,Hollywood!,4,12,325145,8344,True,Twitter for iPhone,#WakandaForever,English,Yes,,0.5574,Positive,Hollywood!

In [31]:
cv = tweets['location'].replace(np.nan, "None")

In [32]:
cv[cv.str.contains('IL')][:60]

105               Crystal Lake, IL
409                    Chicago, IL
573                    Chicago, IL
720                    Chicago, IL
734          Elk Grove Village, IL
880     Chicago, IL and NW Suburbs
1142                   Chicago, IL
1256                   Chicago, IL
1526                  Chicago, IL.
1639                   Chicago, IL
1647                    BRAZILHOPE
1909          Obacht: SPOILERZONE!
2073                   Chicago, IL
2080                   Chicago, IL
2117                    Urbana, IL
2174                   Chicago, IL
2533          Obacht: SPOILERZONE!
2599                   Chicago, IL
2900                   Chicago, IL
3055                   Chicago, IL
3312                 CHICAGO,   IL
3793                   Chicago, IL
4021     Bottom of the map...FILA.
4073        CEBU CITY, PHILIPPINES
4188                   Chicago, IL
4335                   Chicago, IL
4475                   Chicago, IL
4608                   Chicago, IL
4766                Metropolis, IL
5306                   Chicago, IL
5429     Bottom of the map...FILA.
5920               Des Plaines, IL
6571      BLACKPINK ‚Äπ3 MILEY CYRUS
6706                   RIBENAVILLE
7183                   Chicago, IL
7235                   Chicago, IL
7277                   Chicago, IL
7294                   Chicago, IL
7464                   Chicago, IL
7490                   Chicago, IL
7642          Obacht: SPOILERZONE!
7755          Obacht: SPOILERZONE!
7940              Collinsville, IL
7954          Obacht: SPOILERZONE!
8234                   Chicago, IL
8253                   Chicago, IL
8278                   Chicago, IL
8475                   Chicago, IL
8547                   Chicago, IL
8638                   Chicago, IL
8694              Bloomingdale, IL
8752                   Chicago, IL
8929                   Chicago, IL
9017                  Glenwood, IL
9050                   Chicago, IL
9057                   Chicago, IL
9079               Haddonfield, IL
9140                   Chicago, IL
9644                   Chicago, IL
9880                   Chicago, IL
Name: location, dtype: object